body {
    margin: 0;
    padding: 0;
    font-family: "ITC New Baskerville", serif;
    background-image: url('fond.png');
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 100px; 
}

.container h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.square {
    width: 1000px;
    height: 700px;
    background-color: #8E9599;
    margin: 0 auto;
    border-radius: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.square a {
    display: inline-block;
    padding: 40px 180px;
    background-color: #1E303A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.square a:hover {
    background-color: #0B1520; 
}

footer {
    background-color: #0B1520;
    padding: 20px;
    text-align: center;
    color:#fff;
}
